<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="height:100%">
  <corpus-list-menu ng-show="leftMenuContent == 'corpusList' "></corpus-list-menu>
  <create-corpus-menu ng-show="leftMenuContent == 'createCorpus' "></create-corpus-menu>
  <collaborators-menu ng-show="leftMenuContent == 'collaborators' "></collaborators-menu>
  <research-questions-menu ng-show="leftMenuContent == 'researchQuestions' "></research-questions-menu>
  <settings-menu ng-show="leftMenuContent == 'settings' "></settings-menu>
</md-sidenav>
